@(addItem_form: Form[Item])

@before_partial()

@helper.form(routes.Application.addItem) 
{
   <h1 class="intro">Add New Item</h1>

   <p>
       <input type="text" name="itemName" placeholder="itemName" value="@addItem_form("itemName").value">
   </p>
   <p>
       <input type="text" name="storeName" placeholder="storeName" value="@addItem_form("storeName").value">
   </p>
   <p>
       <input type="text" name="storeZip" placeholder="storeZip" value="@addItem_form("storeZip").value">
   </p>
   <p>
       <button type="submit">Add</button>
   </p>
}

@after_partial()
