
@before_partial()

		<input class="mgT10 mgL10 w350 fltL" placeholder="Item Name" type="text" name="itemName" value ="">
		<a href="searchItem"><img class="mgT10 mgL10 fltL" src="assets/images/search.png" alt="search" width="23" height="23"/></a>

		<!--
		<div class="clrB mgT30">
			Search By Zipcode
		</div>
		  <input class="mgT10 mgL10 w350 fltL" placeholder="Zipcode" type="text" name="zipCode" value ="">
		<img class="mgT10 mgL10 fltL" src="assets/images/search.png" alt="search" width="23" height="23"/>
		-->
		
		<p class="clrB txtCenter">
			@if(session.containsKey("user_email")){ 
				<h3 class="intro">Hello @session.get("user_name")!</h3>
			}	else {
				<p class="mgT50"></p>
			}	
		</p>

		<ul id="navlist" class="clrB">
		@if(session.containsKey("user_email")) {
			<li id="logout"><a href="logout"></a></li>
			<li id="add"><a href="addItem"></a></li>			
			<li id="update"><a href="user"></a></li>
		} else {
			<li id="login"><a href="login"></a></li>
			<li id="coupon"><a href="coupon"></a></li>			
			<li id="info"><a href="info"></a></li>
		}
		</ul>

@after_partial()
