
@before_partial()
		<h1 class="title">Product Overview</h1>
		<p>
		A user will be able to visit the application with a web browser. From the homepage the user will be able to 
		search and compare prices based on a geographic region, which will direct them to a page that lists results 
		based on distance of user's location. Also user has ability to sort item by price. Moreover, user can add 
		item but must then log in to the app. Users are able to edit or delete their profile from the user portal.		
		</p>
		
			<p class="textCenter"> 
	   			<a href="home"><img class="mgT10" src="assets/images/home.png" alt="home" width="43" height="43"/></a>	 
			</p>
		
		<h1 class="title">Team Credit</h1>
		<p>Hadi Almotairi </p>
		<p>King Phinyathanabat </p>
		<p>Phillip Wernersbach </p>
		<p>Rachel Wilson </p>
			
@after_partial()
