@(form: Form[User])

@before_partial()

@helper.form(routes.Application.authenticate) {
   <h1>Login</h1>

   <p>
       <input type="email" name="email" placeholder="Email">
   </p>
   <p>
       <input type="password" name="password" placeholder="Password">
   </p>
   <p>
       <button type="submit">Login</button>
   </p>
}

@helper.form(routes.Application.register) {
   <h1>Register</h1>

   <p>
       <input type="email" name="email" placeholder="Email">
   </p>
   <p>
       <input type="password" name="password" placeholder="Password">
   </p>
   <p>
       <input type="text" name="zip" placeholder="Zip">
   </p>
   <p>
       <button type="submit">Register</button>
   </p>
}

@after_partial()
