@(searchResults: List[Item])

@before_partial()
<h1 class="title">Search Results</h1>

<table id="searchResults">
	<thead>
		<tr>
			<th>Item Name</th>
			<th>Item Price</th>
			<th>Store Name</th>
			<th>Store Address</th>
			<th>Store City</th>
			<th>Store State</th>
			<th>Store Zip</th>
		</tr>
	</thead>
	<tbody>
		@for(item <- searchResults) {
			<tr>
				<td><a href="viewItem?id=@item.id">@item.itemName</a></td>
				<td>@(java.text.NumberFormat.getCurrencyInstance().format(item.itemPrice))</td>
				<td>@item.storeName</td>
				<td>@(item.storeAddressLine1 + ", " + item.storeAddressLine2)</td>
				<td>@item.storeCity</td>
				<td>@item.storeState</td>
				<td>@item.storeZip</td>
			</tr>
		}
	</tbody>
</table>

<link rel="stylesheet" href="https://cdn.rawgit.com/alfajango/jquery-dynatable/v0.3.1/jquery.dynatable.css">
<style>
	th a, th a:hover {
		color: black;
	}
</style>

<script type="text/javascript" src="https://code.jquery.com/jquery-1.7.2.min.js"></script>
<script type="text/javascript" src="https://cdn.rawgit.com/alfajango/jquery-dynatable/v0.3.1/jquery.dynatable.js"></script>

<script type="text/javascript">
	$('#searchResults').dynatable();
</script>

@after_partial()
